:root {
  --pdoc-background: #353535;
}
.pdoc {
  --text: white;
  --muted: whitesmoke;
  --link: rgb(210, 153, 29);
  --link-hover: white;
  --active: #555;
  --code: #232627;
  --accent: #232627;
}
